<li>
	{{burgerName}}

	<button class="change-status" data-id="{{id}}" data-newstatus="{{devour}}">
		{{#if devour}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
	</button>
	<button class="delete-cat" data-id="{{this.id}}">Delete Cat</button>
</li>
